@model IEnumerable<ForumApp.Models.Topic>

@{
    ViewBag.Title = "Index";
    var sessionUser = (ForumApp.Models.User)Session["User"];
}

<h2>Topics</h2>

@if (sessionUser.Admin)
{
    <p>
        @Html.ActionLink("Create New", "CreateTopic")
    </p>
}

@Html.AntiForgeryToken()

<table class="table">
    <tr>
        @foreach (var item in Model)
        {

            <th>
                @Html.DisplayFor(modelItem => item.Name)
            </th>



        }
        <th></th>
    </tr>



    <tr>

        @foreach (var thr in Model.Select(m => m.Threads))
        {
            <td>
                @if (thr.FirstOrDefault() != null)
                {
                    @Html.ActionLink("Details", "TopicDetails", new { topicId = thr.FirstOrDefault().TopicId } );
                }

                else
                {
                    <div>No threads yet</div>
                }

            </td>

        }

    </tr>

</table>
